.movies {
    margin: 3rem;
    padding-bottom: 5rem;
}

.movies .catogary-title {
    margin-top: -3rem;
}

.movies .catogary-title h1 {
    color: #fff;
    letter-spacing: 1px;
}

.movies .movies-card {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 450ms;
    width: 100%;
    overflow-x: visible;
    overflow-y: scroll;
}

.movies .movies-card img {
    min-height: 0;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: all 45ms;
}

.big {
    height: 450px;
    width: 24rem;
}

.big:hover, .small:hover {
    width: 25rem;
}

.small {
    height: 300px;
    width: 24rem;
}

.movies .movies-card::-webkit-scrollbar {
    display: none;
}

.movies .movies-card img:hover {
    transition-timing-function: ease-in;
    opacity: 1;
    transform: scale(1.05);
    padding-top: 2.5rem;
    padding-bottom: .5rem;
}

#youtube-iframer {
    height: 36rem !important;
    width: 99%;
}

.movies .movies-card:hover>img {
    opacity: 1;
}

@media screen and (max-width: 780px) {
    .big {
        height: 390px;
        width: 17rem;
    }
    .small {
        height: 297px;
        width: 14rem;
    }
}

@media screen and (max-width: 450px) {
    .big {
        height: 294px;
        width: 12rem;
    }
    .small {
        height: 247px;
        width: 10rem;
    }
    .movies .movies-card img {
        min-height: 0;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        cursor: pointer;
        transition: all 45ms;
    }
    .movies {
        margin: 1.5rem;
        margin-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width:330px) {
    .big {
        height: 236px;
        width: 9rem;
    }
    .small {
        height: 213px;
        width: 8rem;
    }
    .movies {
        margin-top: 4rem;
        padding-bottom: 1rem;
    }
}